<div class="form-container">
  <h2>Új személyzet hozzáadása</h2>
  <nz-list
    nzBordered
    nzHeader="Regisztrált személyzet"
    style="margin-bottom: 20px"
  >
    @for (member of staff; track member.id) {
      <nz-list-item>
        <nz-list-item-meta
          [nzAvatar]="member.pic || placeholderPic"
          [nzTitle]="member.name"
          [nzDescription]="'Azonosító: ' + member.id"
        >
        </nz-list-item-meta>
      </nz-list-item>
    } @empty {
      <nz-list-empty />
    }
  </nz-list>

  <form nz-form [formGroup]="staffForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired>Név</nz-form-label>
      <nz-form-control
        [nzSpan]="14"
        nzErrorTip="Kérlek, add meg a nevet (min. 3 karakter)!"
      >
        <input nz-input formControlName="name" placeholder="Gipsz Jakab" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Fénykép</nz-form-label>
      <input type="file" (change)="fileChangeEvent($event)" />
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [output]="'base64'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      @if (croppedImage) {
        <div style="margin-top: 10px; text-align: center">
          <p>Vágott kép előnézete:</p>
          <img [src]="croppedImage" />
        </div>
      }
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button nz-button nzType="primary" [disabled]="!staffForm.valid">
          Hozzáadás
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
