:host {
  ::ng-deep .ant-list-item {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 12px;

    .ant-list-item-action {
      margin-left: 0 !important;
      flex: 1 0 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
