<div class="form-container">
  <h2>Új személyzet hozzáadása</h2>
  <nz-list
    nzBordered
    nzHeader="Regisztrált személyzet"
    style="margin-bottom: 20px"
  >
    @for (member of staff; track member.id) {
      <nz-list-item [nzActions]="[editAction, deleteAction]">
        <nz-list-item-meta
          [nzAvatar]="member.pic || placeholderPic"
          [nzTitle]="member.name"
          [nzDescription]="'ID: ' + member.id"
        ></nz-list-item-meta>

        <ng-template #editAction>
          <button
            nz-button
            nzType="text"
            (click)="editMember(member)"
            nz-tooltip
            nzTooltipTitle="Szerkesztés"
          >
            <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              style="color: #52a5f2"
            ></span>
          </button>
        </ng-template>

        <ng-template #deleteAction>
          <button
            nz-button
            nzType="text"
            nz-popconfirm
            nzPopconfirmTitle="Biztosan törölni szeretnéd ezt a személyt?"
            (nzOnConfirm)="deleteMember(member.id)"
            nz-tooltip
            nzTooltipTitle="Törlés"
            nzCancelText="Mégsem"
            nzOkText="Igen"
            [nzOkType]="'danger'"
          >
            <span
              nz-icon
              nzType="delete"
              nzTheme="outline"
              style="color: #ed6366"
            ></span>
          </button>
        </ng-template>
      </nz-list-item>
    } @empty {
      <nz-list-empty />
    }
  </nz-list>

  <form nz-form [formGroup]="staffForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired>Név</nz-form-label>
      <nz-form-control
        [nzSpan]="14"
        nzErrorTip="Kérlek, add meg a nevet (min. 3 karakter)!"
      >
        <input nz-input formControlName="name" placeholder="Gipsz Jakab" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Fénykép</nz-form-label>
      <input type="file" (change)="fileChangeEvent($event)" />
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [output]="'base64'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      @if (croppedImage) {
        <div style="margin-top: 10px; text-align: center">
          <p>Vágott kép előnézete:</p>
          <img [src]="croppedImage" />
        </div>
      }
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button nz-button nzType="primary" [disabled]="!staffForm.valid">
          {{ isEditing ? 'Frissítés' : 'Hozzáadás' }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
