<ng-template #contentTemplate>
  <ng-content></ng-content>
</ng-template>

<div style="display: inline-flex; width: 100%">
  <div style="width: 50%">
    @if (selectedTask !== 'B') {
      <app-task
        [configuration]="configuration[index].A"
        [description]="ATask.title"
        [imageUrl]="ATask.imageUrl"
        [index]="index + 1"
        [selected]="selectedTask === 'A'"
        [story]="ATask.story"
        [task]="'A'"
        [tasks]="ATask.subTasks"
        (thisWayBraveAdventurer)="taskSelected.emit('A')">
      </app-task>
    } @else {
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    }
  </div>
  <div style="width: 50%">
    @if (selectedTask !== 'A') {
      <app-task
        [configuration]="configuration[index].B"
        [description]="BTask.title"
        [imageUrl]="BTask.imageUrl"
        [index]="index + 1"
        [selected]="selectedTask === 'B'"
        [story]="BTask.story"
        [task]="'B'"
        [tasks]="BTask.subTasks"
        (thisWayBraveAdventurer)="taskSelected.emit('B')">
      </app-task>
    } @else {
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    }
  </div>
</div>
