.main-container {
  height: 80vh;
  border: 1px solid #f0f0f0;
}

.button-group {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  > button {
    white-space: normal;
    height: auto;
    padding: 5px;
  }
}

.content-area {
  padding: 24px;
}
